* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 1000px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
}

.items-container {
    position: relative;
    width: 100%;
    max-width: 900px;
    height: 400px;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
}

.item {
    height: 100%;
    width: 80%;
    display: flex;
    position: relative;
}

.item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 75% 50%;
}

.item .text {
    position: absolute;
    right: 20px;
    bottom: 20px;
    text-align: right;
    color: white;
    text-shadow: 2px 2px 2px black;
    user-select: none;
}

.slider {
    width: 20%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.thumb {
    height: calc(100% / 5 + 0.1px);
}

.thumb img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-fit: cover;
    object-position: 75% 50%;
}

.thumb img:not(.active) {
    filter: brightness(50%);
}

.active {
    border: 2px solid white;
    opacity: 1;
}

.prev, .next {
    width: 20px;
    height: 20px;
    margin: 10px 0;
    border-radius: 50%;
    background: #ccc;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    cursor: pointer;
    z-index: 999;
}

.next {
    bottom: 0;
}

/*
EXTRA: in questo esempio gli accordion vengono creati
usando 2 bordi di un quadratino ruotato di 45 gradi
In una versione base si possono usare delle icone
oppure i caratteri ∧ (&and;) e ∨ (&or;)
 */
.prev::after {
    content: '';
    width: 10px;
    height: 10px;
    border-top: 1px solid black;
    border-right: 1px solid black;
    display: block;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%) rotate(-45deg);
}

.next::before {
    content: '';
    width: 10px;
    height: 10px;
    border-top: 1px solid black;
    border-right: 1px solid black;
    display: block;
    position: absolute;
    bottom: 35%;
    left: 50%;
    transform: translate(-50%) rotate(135deg);
}